.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: #67c5ff;
    color: white;
  }

  .btn-cross {
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: #03A9F4;
  }
  .btn-cross:before, .btn-cross:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
    transition: .3s;
  }
  .btn-cross:before {
    left: 7px;
  }
  .btn-cross:after {
    right: 7px;
  }
  .btn-cross:hover:before {
    top: 0px;
    left:0;
    height: 100%;
  }
  .btn-cross:hover:after {
    top: 0px;
    right: 0;
    height: 100%;
  }

  .container {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    padding-top: 40px;
  }

  .btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #d18b30;
    font-size: 16px;
    color: #d18b30;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
  }
  
  .btn-border:hover {
    background-color: #d18b30;
    border-color: #e5b885;
    color: #FFF;
  }

  @media screen and (min-width: 481px) {

    body {
      position: relative;
      margin-left:10%;
      background-color: honeydew;
      }
   }
  @media screen and (max-width: 480px) {

    body {
      position:relative;
      margin-left:0%;
      margin-right:0%;
      background-color: honeydew;
      float: left;
      }

   }
h2 {
    position: relative;
    padding: 0.25em 0;
  }
  h3 {
    position: relative;
    padding-left: 25px;
  }
  
  h3:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 15px rgb(119, 195, 223);
  }
  h3:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 100%;
    border-bottom: solid 3px rgb(119, 195, 223);
  }
h2:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
    background: linear-gradient(to right, rgb(230, 90, 90), transparent);
  }

  *,
*::after,
*::before {
  box-sizing: border-box;
}

.accordion {
  width: 500px;
  max-width: 100%;
}

/*------------------------------

ここからアコーディオンのCSS

------------------------------*/
/* チェックボックスは非表示 */
.accordion-hidden{
  display: none;
}

/* Question部分 */
.accordion-open {
  display: block;
  padding: 10px;
  background: #52a261;
  cursor: pointer;
  margin: 5px 0;
  font-weight: 700;
  position: relative;/* 変更部分 */
}

/* 開閉状態を示すアイコン+の作成 */
.accordion-open::before,
.accordion-open::after {
  content: '';
  width: 20px;
  height: 3px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

/* 一本は縦にして+を作る */
.accordion-open::after {
  transform: translateY(-50%) rotate(90deg);
  transition: .5s;
}

/* アコーディオンが開いたら縦棒を横棒にして-にする */
.accordion-hidden:checked + .accordion-open:after {
  transform: translateY(-50%) rotate(0);
}

/* Answer部分 */
.accordion-close {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  transition: 0.5s;/* 表示速度の設定 */
}

/* チェックボックスにチェックが入ったらAnswer部分を表示する */
.accordion-hidden:checked + .accordion-open + .accordion-close {
  height: auto;
  opacity: 1;
  padding: 10px;
  background: #55acee;
  font-weight: 700;
}

#mainArea {
  text-align: center;
} 

/* 吹き出し */
.arrow_box{
  position:relative;
  width:350px;
  height:100px;
  background:#FFE7B0;
  padding:10px;
  text-align:center;
  border:3px solid #FFBB21;
  color:black;
  font-size:15px;
  font-weight:bold;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}
.arrow_box:after,.arrow_box:before{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  bottom:100%;
  left:12%;
}
.arrow_box:after{
  border-color: rgba(255, 231, 176, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:8px;
  border-right-width:8px;
  margin-left: -8px;
  border-bottom-color:#FFE7B0;
}
.arrow_box:before{
  border-color: rgba(255, 187, 33, 0);
  border-top-width:13px;
  border-bottom-width:13px;
  border-left-width:11px;
  border-right-width:11px;
  margin-left: -11px;
  margin-bottom: 3px;
  border-bottom-color:#FFBB21;
}
